{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        {% endblock %}
    </title>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="{% static "js/ckeditor/ckeditor.js" %}"></script>

</head>
<style>
    #main-container{
        min-height: 100vh;
    }
</style>
<body class="grey lighten-5">

     {% include 'navbar.html' %}

    <div class="container" id="main-container" style="padding: 24px;">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}


</body>

  <!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
      $('.dropdown-trigger').dropdown();

      $(document).ready(function() {
            $('select').formSelect();
            // Old way
            // $('select').material_select();
        });

      {% if messages %}
              {% for message in messages %}
                  {% if message.tags %}
                      {% if message.tags == 'success' %}
                          M.toast({html: '{{message}}', inDuration: 300, outDuration: 375, length: 2000, classes: 'green accent-4'})
                      {% endif %}
                       {% if message.tags == 'warning' or message.tags == "info"%}
                          M.toast({html: '{{message}}', inDuration: 300, outDuration: 375, length: 2000, classes: 'black'})
                      {% endif %}
                       {% if message.tags == 'error' %}
                          M.toast({html: '{{message}}', inDuration: 300, outDuration: 375, length: 2000, classes: 'red'})
                      {% endif %}
                  {% else %}
                      M.toast({html: '{{message}}', inDuration: 300, outDuration: 375, length: 2000, classes: 'black'})
                  {% endif %}

              {% endfor %}
          {% endif %}
</script>

{% block scripts %}
{% endblock %}
</html>