{#<a href="#">#}
{#    <div class="card white black-text hoverable">#}
{#        <div class="card-content">#}
{#            <div class="row">#}
{#                <div class="col s1" style="margin-right: 8px;">#}
{#                    <div style="display:flex; flex-direction: column;">#}
{#                        <i class="material-icons medium">arrow_drop_up</i>#}
{##}
{#                        <i class="material-icons medium">arrow_drop_down</i>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="col s10">#}
{#                       <span class="card-title">{{ title }}</span>#}
{#                        <p>{{ description }}</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#      </div>#}
{#</a>#}


      <div class="card">
            <a class="btn-floating waves-effect waves-light red" style="position:absolute; left:-12px; top:-8px;"><i class="material-icons">favorite</i></a>

          <a href="#" class="black-text">
                <div class="card-content">
                <span class="card-title">{{ title }}</span>
{#            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>#}


            <p>{{ description|truncatechars:256 }}</p>

{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem fugiat iure minus natus neque odit sed. Aut enim excepturi sequi voluptate! Commodi, debitis eius neque perspiciatis quidem reprehenderit similique veritatis.</p>#}
        </div>
          </a>
      </div>
