
      <div class="card hoverable">
          {% if liked == True %}
                          <a href="{% url "ideas:like" idea.pk %}" class="btn-floating waves-effect waves-light red lighten-1" style="position:absolute; left:-12px; top:-8px;"><i class="material-icons">favorite_border</i></a>

          {% else %}
                          <a href="{% url "ideas:like" idea.pk %}" class="btn-floating waves-effect waves-light" style="position:absolute; left:-12px; top:-8px;"><i class="material-icons">favorite</i></a>

          {% endif %}

          <div class="black-text modal-trigger" data-target={{ idea.slug }} >
                <div class="card-content">
                <span class="card-title">{{ idea.title }}</span>

                    <p><b>Likes: </b>{{ idea.likes }}</p>
                    <p>{{ idea.description|safe |truncatechars:256 }}</p>

{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem fugiat iure minus natus neque odit sed. Aut enim excepturi sequi voluptate! Commodi, debitis eius neque perspiciatis quidem reprehenderit similique veritatis.</p>#}
             </div>
          </div>

      </div>
